body {
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1e0555;
}

.mainpart {
  text-align: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 2rem;
}

.container {
  background-color: #f0db4f;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 700px;
  max-width: 90%;
}

.timer {
  /* position: absolute; */
  font-size: 3rem;
  color: #f0db4f;
  font-weight: bold;
  margin: 2rem;
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  font-size: xx-large;
}

.quote-input {
  background-color: transparent;
  border: 2px solid #d5b900;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

.quote-input:focus {
  border-color: black;
}
.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}
