@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading {
  width: 70%;
  margin: auto;
  text-align: left;
  font-weight: bolder;
  box-shadow: -1px 20px 29px -2px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -1px 20px 29px -2px rgb(183 183 183 / 58%);
  align-items: center;
  background-image: linear-gradient(to right, #31c7d89c, #1117d236);
  border-radius: 2rem;
  padding: 1rem;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.heading h1 {
  font-weight: 900;
  text-align: center;
}

.twopart {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 2.6rem;
  gap: 4rem;
}

.partone {
  border: none;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #7bb09b, #77f96d);
  box-shadow: -1px -1px 34px 4px #e7e3a5;
}
.partone button {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: chartreuse;
}

.parttwo {
  border: none;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  gap: 2rem;
  background-image: linear-gradient(to right, #00bbff, #00ffd0);
  box-shadow: -1px -1px 34px 4px #928af1;
}

.partone h2 {
  font-weight: bolder;
  padding: 10px;
}

.parttwo h2 {
  font-weight: bolder;
  padding: 10px;
}

.parttwo button {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: blue;
}

#navItems > a {
  font-weight: 900;
}

.body {
  background-color: aquamarine;
  height: 100vh;
  padding: 6rem;
}
