@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading {
  width: 70%;
  margin: auto;
  text-align: left;
  font-weight: bolder;
  box-shadow: -1px 20px 29px -2px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -1px 20px 29px -2px rgb(183 183 183 / 58%);
  align-items: center;
  background-image: linear-gradient(to right, #31c7d89c, #1117d236);
  border-radius: 2rem;
  padding: 1rem;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.heading h1 {
  font-weight: 900;
  text-align: center;
}

.twopart {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2.6rem;
  gap: 4rem;
}

.partone {
  border: none;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #7bb09b, #77f96d);
  box-shadow: -1px -1px 34px 4px #e7e3a5;
  width: 100%;
  margin: auto;
  margin-bottom: 4rem;
}
.partone button {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: chartreuse;
  border: none;
}

.partone img {
  width: 60%;
}

.partone h2 {
  font-weight: bolder;
  padding: 10px;
}

.parttwo {
  border: none;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  gap: 2rem;
  background-image: linear-gradient(to right, #00bbff, #00ffd0);
  box-shadow: -1px -1px 34px 4px #928af1;
  width: 100%;
  margin: auto;
  margin-bottom: 4rem;
}

.parttwo img {
  width: 60%;
}

.parttwo h2 {
  font-weight: bolder;
  padding: 10px;
}

.parttwo button {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: rgb(64, 64, 252);
  border: none;
}

#navItems > a {
  font-weight: 900;
}

body {
  background-color: aquamarine;
  height: 100vh;
  padding: 6rem;
}

@media only screen and (max-width: 800px) {
  .twopart {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 2.6rem;
    gap: 4rem;
  }
  .partone {
    margin-bottom: 2rem;
  }
  .heading {
    width: 100%;
  }
  body {
    padding: 2rem;
    padding-top: 6rem;
  }

  .partone img {
    width: 100%;
  }
  .parttwo img {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: hsl(10, 48%, 49%);
  /* border-radius: 100vw; */
  /* margin-block: 0.5em; */
}

::-webkit-scrollbar-thumb {
  background: rgb(86, 0, 0);
  /* border-radius: 100vw; */
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 15, 0);
}
